:root {
    --main-theme-color: #e7920a;
    --main-text-color: rgb(239, 239, 239);
}

*,
*::before
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    color: var(--main-text-color);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    /*font-family: 'Century Gothic', sans-serif;*/
    font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
    font-weight: 100;
}

.card {
    box-shadow: inset 0px 0px 20px 1px #0d0d0d;
}

.card:hover {
    transform: scale(1.2);
    transition: 0.5s ease;
    /*background-size: contain !important;
    background-repeat: no-repeat !important;*/
}



/* Navigation */

nav {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}
  
nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;

    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
    font-size: 1.2rem;
}
  
nav a:hover {
    background-color: var(--main-theme-color);
}
  
nav svg {
    fill: rgb(239, 239, 239);
}
  
#sidebar-active {
    display: none;
}
  
.open-sidebar-button, .close-sidebar-button {
    padding: 20px;
    display: block;
}

.close-sidebar-button {
    position: absolute;
    top: 0;
}

#sidebar-active:checked ~ .links-container {
    right: 0;
}

#sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
  
.links-container {
    display: flex;
    justify-content: center;

    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    height: 100%;
    width: 75%;

    background-color: black;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);

    transition: 0.5s ease-out;
}



/* Hero Section */

#hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    background: url(Images/hero_image.jpg);
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;

    text-shadow: 2px 2px 8px black;
}

#hero-text-main {
    font-size: 3rem;
}

#hero-text-sub {
    font-size: 1.8rem;
    padding-bottom: 5vh;
}



/* Background Section */

#background {
    background: linear-gradient(45deg, black, rgb(14, 14, 14));
}



/* Welcome Section */

#welcome {
    /*background: linear-gradient(45deg, black, rgb(33, 33, 33));*/
}

#welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5rem 2rem 1rem 2rem;
}

#welcome-text-main {
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
    color: goldenrod;
}

#welcome-text-sub {
    font-size: 1rem;
    word-spacing: 0.1rem;
    max-width: 41rem;
}

.welcome-text-sub-padding {
    padding-bottom: 0.25rem;
}

#owner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 1rem 1rem 5rem 1rem;
}

#owner-image {
    background: url(Images/papa.jpeg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    height: 45rem;
    width: 100%;

    max-width: 30rem;

    box-shadow: inset 0px 0px 20px 1px #0d0d0d;
}

#owner-image-text-main {
    font-size: 1.2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
    color: goldenrod;
}



/* Projects Section */

#projects {
    /*background: linear-gradient(45deg, #623114, #e89025);*/
}

#projects-container {
    
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 200px;

    padding: 5rem 1rem;
}



#borderline {
    margin: auto;
    width: 50%;
    border-top: thin solid goldenrod;
}



@media only screen and (min-width: 2080px) {
    /* Projects Section */

    #projects-container {
        grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
        grid-auto-rows: 500px;
    }
}

@media only screen and (min-width: 1050px) and (max-width: 2079px) {
    /* Projects Section */

    #projects-container {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-auto-rows: 300px;
    }
}

@media only screen and (min-width: 830px) {
    /* Navigation */

    nav {
        justify-content: center;
    }

    nav a {  
        justify-content: center;
        height: 100%;
        width: auto;
        padding: 0 20px;
    }

    .open-sidebar-button, .close-sidebar-button {
        display: none;
    }

    .links-container {
        flex-direction: row;
        
        align-items: center;
        top: auto;
        right: auto;
        height: 100%;
        width: 100%;
        position: static;
    }
}

@media only screen and (min-width: 720px) {
    /* Hero Section */

    #hero-text-main {
        font-size: 4rem;
    }
        
    #hero-text-sub {
        font-size: 2.4rem;
        padding-bottom: 5vh;
    }
}